doctype html
html
	head
		title Mason documentation
		meta(charset='utf-8')

		link(rel='icon' href='//mason-lang.org/icon.svg')

		// ID needed because mason-editor.js is not run inside of this.
		link#link-mason-doc(rel='import' href='/mason-doc.html')

		link(rel='stylesheet' href='./style/index.css')

		script(src='./lib/requirejs/require.js')
		script.
			requirejs.config({
				baseUrl: 'lib',
				paths: {
					fetch: 'fetch/fetch',
					marked: 'marked/marked.min',
					'mason-compile': 'mason-compile/dist'
				}
			})
			require([ "../script/main", "../script/mason-doc" ])
	body
		header
		main
		footer
			div
				a#url See on github
			form#select-module(action='')
				label project
					input(name='project' type='text' required placeholder='github project ("mason-lang.msl"))')
				label module
					input(name='module' type='text' required placeholder="module (relative to project, no '.ms')")
				button(type='submit') View

			a(href='//github.com/mason-lang/mason-doc') about mason-doc
