font-button()
	font-family Patua One
font-header()
	font-family Patua One
font-text()
	font-family PT Sans
font-extra()
	font-family Oleo One
font-code()
	font-family PT Mono

// TODO: better name
gray()
	font-extra()
	font-style italic
	color #888

border-radius-right(val)
	border-top-right-radius val
	border-bottom-right-radius val
