@require "_lib"

namey()
	// TODO: font-xxx() helper
	font-family Overlock
	font-weight bold
	color darkmagenta

name()
	font-size 125%
	text-align left

	display inline-block
	min-width 8em
	margin-right 1em

	namey()

.mason-doc-module
	background #e

	> .name
		namey()
		font-size 200%
		text-align center

	> .exports
		font-text()

	details
		> summary::-webkit-details-marker
			display none
		> summary:after
			color #f
			font-weight bold
			float right
			text-align center
			w = 1.25rem
			width w
			border-radius w

			background #00f
			content '+'

		&[open] > summary:after
			background #08f
			content '-'

.comment
	font-text()
	font-style italic

// TODO: try using css classes instead of mixins
//rename
brief()
	display inline-block
	min-width 8em
	margin-right 1em

brief()
	color #448

.mason-doc-export
	background #fff8
	margin 1em 0

	> summary
		> .name
			name()
			display inline-block
			margin-top 0
			margin-bottom 0

		> .brief
			display inline-block
			brief()

	> .value
		margin-bottom 0.5em

.mason-doc-fun
	display inline-block

	> .kind
		display inline-block
		font-weight bold
		color #800
		width 1em
		text-align right
	> .args
		display inline-block

.mason-doc-arg
	display inline
	margin 0 0.25em

	> .name
		display inline
		color #606

	> .type
		display inline
		color #4cc

		&::before
			gray()
			font-style normal
			content ":"

.mason-doc-super::before
	gray()
	content "extends "

.mason-doc-super
	font-header()

.mason-doc-class
	.statics, .methods
		> summary
			gray()
		border-radius-right 2em

	.statics
		background #ff82

	.methods
		background #8ff2

.mason-doc-constructor
	> .mason-doc-fun::before
		name()
		content "construct!"

.mason-doc-method
	display block

	summary
		> .kind
			display inline-block
			font-weight bold
			width 2em
		> .name
			display inline
			name()
		> .fun
			display inline
			brief()
