mason-doc-export
	#name
		color green
		display inline-block
		font-size 200%
		margin-right 1em

	#brief
		color red

	#value
		margin-left 1em
		margin-top 0.5em
		margin-bottom 0.5em
		border 1px solid black
